/* line 1, ../sass/newCss.scss */
p {
  margin-bottom: 18px;
}

/* line 4, ../sass/newCss.scss */
h1, h2, h3, h4, h5, h6, p, ul, ol, pre, table, blockquote, input, select, textarea {
  margin-bottom: 24px;
  margin-top: 0;
  padding: 0;
}

/* line 9, ../sass/newCss.scss */
.mandatory {
  top: -4px;
  font-size: 11px;
}

/* line 13, ../sass/newCss.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: 400 16px Open Sans;
  vertical-align: baseline;
  zoom: 1;
}

/* line 22, ../sass/newCss.scss */
.block {
  display: block;
}

/* line 25, ../sass/newCss.scss */
.form-icon, .form-icon-right {
  position: relative;
}
/* line 27, ../sass/newCss.scss */
.form-icon i, .form-icon-right i {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #999;
}

/* line 34, ../sass/newCss.scss */
.main-search-wrapper {
  width: 80%;
  margin: auto;
  z-index: 9;
}
/* line 38, ../sass/newCss.scss */
.main-search-wrapper .name {
  font-size: 24px;
  color: white;
  font-weight: 700;
  margin: 20px 0 30px;
}
/* line 44, ../sass/newCss.scss */
.main-search-wrapper .inner {
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin: 0 auto;
  margin-top: 30px;
  width: 72%;
}
/* line 51, ../sass/newCss.scss */
.main-search-wrapper .inner .searchScheme {
  color: white;
  text-decoration: underline;
}
/* line 56, ../sass/newCss.scss */
.main-search-wrapper .typeahead-container {
  position: relative;
}
/* line 58, ../sass/newCss.scss */
.main-search-wrapper .typeahead-container .typeahead-field input {
  background: #fff;
}
/* line 62, ../sass/newCss.scss */
.main-search-wrapper label {
  text-transform: uppercase;
  color: #FFF;
  font-weight: 400;
  font-family: Open Sans;
  margin: 0 0 8px;
}
/* line 69, ../sass/newCss.scss */
.main-search-wrapper .form-lg i {
  font-size: 18px;
  bottom: 12px;
}
/* line 73, ../sass/newCss.scss */
.main-search-wrapper .form-control[readonly] {
  background: #FFF;
}
/* line 76, ../sass/newCss.scss */
.main-search-wrapper .form-icon-right .form-control {
  padding-right: 28px;
}

/* line 81, ../sass/newCss.scss */
.btn-lg.btn-icon {
  padding-right: 66px;
}

/* line 85, ../sass/newCss.scss */
.btn-icon {
  position: relative;
  padding-right: 36px;
}

/* line 89, ../sass/newCss.scss */
.btn {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 500;
  padding: 8px;
}
/* line 95, ../sass/newCss.scss */
.btn.btn-more-less {
  padding: 6px;
  margin-top: 2px;
  font-size: 12px;
  background: transparent;
  text-decoration: underline;
  letter-spacing: 1px;
}

/* line 104, ../sass/newCss.scss */
.btn-lg.btn-icon .icon {
  width: 46px;
  /*padding-top: 13px;*/
  font-size: 12px;
}

/* line 109, ../sass/newCss.scss */
.btn-icon .icon {
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: 0;
  width: 36px;
  text-align: center;
  display: block;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 12px;
  padding-top: 10px;
}

/* line 121, ../sass/newCss.scss */
.btn-primary {
  background: #2C3E51;
  color: white;
}

/* line 125, ../sass/newCss.scss */
.btn-primary:hover, .btn-info:hover, .btn-success:hover, .btn-danger:hover, .btn-warning:hover {
  color: rgba(255, 255, 255, 0.85);
}

/* line 128, ../sass/newCss.scss */
.fancy-select {
  position: relative;
  color: #005294;
}

/* line 132, ../sass/newCss.scss */
.fancy-select .form-control {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
}

/* line 140, ../sass/newCss.scss */
.gap-20 .col-sm-1, .gap-20 .col-sm-2, .gap-20 .col-sm-3, .gap-20 .col-sm-4, .gap-20 .col-sm-5, .gap-20 .col-sm-6, .gap-20 .col-sm-7, .gap-20 .col-sm-8, .gap-20 .col-sm-9, .gap-20 .col-sm-10, .gap-20 .col-sm-11, .gap-20 .col-sm-12, .gap-20 .col-md-1, .gap-20 .col-md-2, .gap-20 .col-md-3, .gap-20 .col-md-4, .gap-20 .col-md-5, .gap-20 .col-md-6, .gap-20 .col-md-7, .gap-20 .col-md-8, .gap-20 .col-md-9, .gap-20 .col-md-10, .gap-20 .col-md-11, .gap-20 .col-md-12 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

/* line 145, ../sass/newCss.scss */
.intro-text.get-started {
  position: relative;
  background-color: #18bb9c;
  padding: 60px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 154, ../sass/newCss.scss */
.intro-text.get-started .checkbox {
  margin-top: 4px;
}
/* line 157, ../sass/newCss.scss */
.intro-text.get-started .bigButton {
  width: 335px;
}
/* line 159, ../sass/newCss.scss */
.intro-text.get-started .bigButton.btn {
  margin-left: 38px;
  color: white;
  background: #2C3E51;
  border-color: #2C3E51;
}

/* Login Signup  */
/* line 168, ../sass/newCss.scss */
.signin_background {
  width: 40%;
  margin: auto;
  background-color: #fafafa;
}
/* line 173, ../sass/newCss.scss */
.signin_background .loginTable input[type="text"], .signin_background .loginTable input[type="number"], .signin_background .loginTable input[type="password"], .signin_background .loginTable input[type="email"] {
  margin: 0;
  min-width: 220px;
}
/* line 174, ../sass/newCss.scss */
.signin_background .loginTable td, .signin_background .loginTable th {
  border: none;
  text-align: center;
}
/* line 177, ../sass/newCss.scss */
.signin_background .loginTable td .rememberme, .signin_background .loginTable th .rememberme {
  margin: 0;
  text-align: center;
}
/* line 180, ../sass/newCss.scss */
.signin_background .loginTable td .rememberme label, .signin_background .loginTable th .rememberme label {
  margin: 0 0 8px;
}
/* line 182, ../sass/newCss.scss */
.signin_background .loginTable td .rememberme label input, .signin_background .loginTable th .rememberme label input {
  margin-left: -20px;
  margin-top: 5px;
}

/* Error container */
/* line 192, ../sass/newCss.scss */
.error-container {
  margin-bottom: 15px;
}

/* line 196, ../sass/newCss.scss */
.error-container:last-child {
  margin: 5px 0 0;
}

/* line 200, ../sass/newCss.scss */
div.error {
  display: block;
  font-family: Open Sans;
}
/* line 203, ../sass/newCss.scss */
div.error div {
  font-size: 11px;
  color: red;
  vertical-align: middle;
}

/* line 212, ../sass/newCss.scss */
.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle;
}

/* sort wrapper*/
/* line 220, ../sass/newCss.scss */
.sort-wrapper {
  background: #EDEDED;
  color: #5d5d5d;
  margin-bottom: 10px;
  position: fixed;
  z-index: 2;
  top: 61px;
  max-width: 800px;
}
/* line 228, ../sass/newCss.scss */
.sort-wrapper .text.input-wrapper {
  padding: 5px;
  width: 100%;
}
/* line 231, ../sass/newCss.scss */
.sort-wrapper .text.input-wrapper input {
  margin: 0;
}
/* line 233, ../sass/newCss.scss */
.sort-wrapper > ul {
  margin: 0;
}
/* line 235, ../sass/newCss.scss */
.sort-wrapper > ul > li {
  display: block;
  float: left;
}
/* line 238, ../sass/newCss.scss */
.sort-wrapper > ul > li > a {
  color: #5d5d5d;
  border-right: solid 1px #E5E5E5;
  display: block;
  padding: 10px 15px;
}
/* line 243, ../sass/newCss.scss */
.sort-wrapper > ul > li > a:hover {
  color: #18bb9c;
}
/* line 248, ../sass/newCss.scss */
.sort-wrapper > ul > li.text {
  border-right: solid 1px #E5E5E5;
  padding: 10px;
  text-transform: uppercase;
}
/* line 253, ../sass/newCss.scss */
.sort-wrapper > ul > li.list-grid {
  float: right;
}
/* line 255, ../sass/newCss.scss */
.sort-wrapper > ul > li.list-grid a {
  float: right;
  border-right: 0;
  border-left: solid 1px #E5E5E5;
  color: #5d5d5d;
}
/* line 263, ../sass/newCss.scss */
.sort-wrapper > ul > li.active > a {
  color: #18bb9c;
}
/* line 268, ../sass/newCss.scss */
.sort-wrapper .dropdown-menu {
  min-width: 80px;
  margin: 0;
}

/* two-tone css start  */
/* line 276, ../sass/newCss.scss */
.two-tone-layout {
  overflow: hidden;
  margin-top: 61px;
}
/* line 279, ../sass/newCss.scss */
.two-tone-layout .container {
  overflow: visible;
  padding-right: 335px;
}
/* line 283, ../sass/newCss.scss */
.two-tone-layout .content-wrapper {
  position: relative;
  background: #F7F7F7;
  padding-right: 20px;
}
/* line 287, ../sass/newCss.scss */
.two-tone-layout .content-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 999px;
  left: -999px;
}
/* line 296, ../sass/newCss.scss */
.two-tone-layout .sidebar-wrapper {
  position: relative;
  background: #EDEDED;
  margin-right: -320px;
  width: 320px;
  padding-left: 30px;
  border-left: 1px solid #E5E5E5;
}
/* line 303, ../sass/newCss.scss */
.two-tone-layout .sidebar-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 999px;
  right: -999px;
}

/* line 313, ../sass/newCss.scss */
.two-tone-wrapper {
  width: 100%;
  margin: auto;
}
/* line 316, ../sass/newCss.scss */
.two-tone-wrapper > div {
  margin: 0;
}

/* line 320, ../sass/newCss.scss */
.two-tone-table {
  display: table;
}
/* line 322, ../sass/newCss.scss */
.two-tone-table .two-tone-col {
  display: table-cell;
}

/* line 326, ../sass/newCss.scss */
.two-tone-content {
  width: 72%;
}
/* line 328, ../sass/newCss.scss */
.two-tone-content > .inner {
  padding: 35px 30px;
  padding-left: 0;
}

/* line 333, ../sass/newCss.scss */
.two-tone-sidebar {
  width: 28%;
  background: #EDEDED;
  position: relative;
  border-left: 1px solid #E5E5E5;
}
/* line 338, ../sass/newCss.scss */
.two-tone-sidebar:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1000px;
  width: 1000px;
  background: #EDEDED;
}
/* line 347, ../sass/newCss.scss */
.two-tone-sidebar > .inner {
  padding: 35px 30px;
  padding-right: 0;
}

/* line 352, ../sass/newCss.scss */
.table-div {
  display: table;
}

/* line 355, ../sass/newCss.scss */
.table-cell-div {
  display: table-cell;
}

/* line 359, ../sass/newCss.scss */
.equal-content-sidebar .container {
  padding: 0;
  padding-right: 360px;
  padding-left: 15px;
  overflow: hidden;
}
/* line 365, ../sass/newCss.scss */
.equal-content-sidebar .content-wrapper {
  float: left;
  width: 100%;
  background-color: #fff;
  padding-bottom: 99999px;
  margin-bottom: -99999px;
}
/* line 372, ../sass/newCss.scss */
.equal-content-sidebar .sidebar-wrapper {
  float: right;
  margin-right: -345px;
  width: 310px;
  background-color: #fff;
  padding-bottom: 99999px;
  margin-bottom: -99999px;
}

/* line 382, ../sass/newCss.scss */
.equal-content-sidebar.left-sidebar .container {
  padding-right: 15px;
  padding-left: 360px;
}

/* line 388, ../sass/newCss.scss */
.left-sidebar .content-wrapper {
  float: right;
}
/* line 391, ../sass/newCss.scss */
.left-sidebar .sidebar-wrapper {
  float: left;
  margin-left: -345px;
}

/* line 397, ../sass/newCss.scss */
.two-tone-layout.left-sidebar .container {
  padding-right: 15px;
  padding-left: 335px;
}
/* line 401, ../sass/newCss.scss */
.two-tone-layout.left-sidebar .content-wrapper {
  float: right;
  padding-right: 0;
  padding-left: 20px;
}
/* line 405, ../sass/newCss.scss */
.two-tone-layout.left-sidebar .content-wrapper:after {
  left: auto;
  right: -999px;
}
/* line 410, ../sass/newCss.scss */
.two-tone-layout.left-sidebar .sidebar-wrapper {
  padding-left: 0;
  padding-right: 30px;
  margin-left: -320px;
  border-right: 1px solid #E5E5E5;
  border-left: 0;
}
/* line 416, ../sass/newCss.scss */
.two-tone-layout.left-sidebar .sidebar-wrapper:after {
  right: auto;
  left: -999px;
}

/* line 423, ../sass/newCss.scss */
.two-tone-layout.size-2 .container {
  overflow: visible;
  padding-right: 265px;
}
/* line 427, ../sass/newCss.scss */
.two-tone-layout.size-2 .content-wrapper {
  background: #F7F7F7;
  padding-right: 30px;
}
/* line 430, ../sass/newCss.scss */
.two-tone-layout.size-2 .content-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 999px;
  left: -999px;
}
/* line 439, ../sass/newCss.scss */
.two-tone-layout.size-2 .sidebar-wrapper {
  background: #EDEDED;
  margin-right: -250px;
  width: 250px;
  padding-left: 30px;
  border-left: 1px solid #E5E5E5;
}

/* line 448, ../sass/newCss.scss */
.two-tone-layout.left-sidebar.size-2 .container {
  padding-right: 15px;
  padding-left: 265px;
}
/* line 452, ../sass/newCss.scss */
.two-tone-layout.left-sidebar.size-2 .content-wrapper {
  float: right;
  padding-right: 0;
  padding-left: 30px;
}
/* line 456, ../sass/newCss.scss */
.two-tone-layout.left-sidebar.size-2 .content-wrapper:after {
  left: auto;
  right: -999px;
}
/* line 461, ../sass/newCss.scss */
.two-tone-layout.left-sidebar.size-2 .sidebar-wrapper {
  padding-left: 0;
  padding-right: 30px;
  margin-left: -250px;
  border-right: 1px solid #E5E5E5;
  border-left: 0;
}
/* line 467, ../sass/newCss.scss */
.two-tone-layout.left-sidebar.size-2 .sidebar-wrapper:after {
  right: auto;
  left: -999px;
}

@media only screen and (max-width: 1199px) {
  /* line 474, ../sass/newCss.scss */
  .signin_background {
    width: 50%;
  }

  /* line 477, ../sass/newCss.scss */
  .sort-wrapper {
    max-width: 615px;
  }
  /* line 480, ../sass/newCss.scss */
  .sort-wrapper > ul > li a {
    padding: 10px 6px;
  }

  /* line 486, ../sass/newCss.scss */
  .equal-content-sidebar .container {
    padding-right: 330px;
    padding-left: 15px;
  }
  /* line 490, ../sass/newCss.scss */
  .equal-content-sidebar .sidebar-wrapper {
    margin-right: -315px;
    width: 280px;
  }

  /* line 496, ../sass/newCss.scss */
  .equal-content-sidebar.left-sidebar .container {
    padding-left: 330px;
  }

  /* line 501, ../sass/newCss.scss */
  .left-sidebar .sidebar-wrapper {
    margin-left: -315px;
  }

  /* line 506, ../sass/newCss.scss */
  .two-tone-layout .container {
    overflow: visible;
    padding-right: 320px;
  }
  /* line 510, ../sass/newCss.scss */
  .two-tone-layout .sidebar-wrapper {
    margin-right: -305px;
    width: 305px;
    padding-left: 30px;
  }

  /* line 517, ../sass/newCss.scss */
  .two-tone-layout.left-sidebar .container {
    padding-left: 320px;
  }
  /* line 520, ../sass/newCss.scss */
  .two-tone-layout.left-sidebar .sidebar-wrapper {
    margin-left: -305px;
  }
}
@media only screen and (max-width: 991px) {
  /* line 526, ../sass/newCss.scss */
  .signin_background {
    width: 50%;
  }

  /* line 530, ../sass/newCss.scss */
  .equal-content-sidebar .container {
    padding: 0 15px;
  }
  /* line 533, ../sass/newCss.scss */
  .equal-content-sidebar .content-wrapper {
    float: none;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-bottom: 30px;
  }
  /* line 539, ../sass/newCss.scss */
  .equal-content-sidebar .sidebar-wrapper {
    float: none;
    margin-right: 0;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  /* line 548, ../sass/newCss.scss */
  .equal-content-sidebar.left-sidebar .container {
    padding-left: 15px;
  }

  /* line 553, ../sass/newCss.scss */
  .left-sidebar .content-wrapper {
    float: none;
    margin-bottom: 0;
  }
  /* line 557, ../sass/newCss.scss */
  .left-sidebar .sidebar-wrapper {
    float: none;
    margin-left: 0;
    margin-bottom: 30px;
  }

  /* line 564, ../sass/newCss.scss */
  .two-tone-layout .content-wrapper {
    padding: 0;
  }
  /* line 566, ../sass/newCss.scss */
  .two-tone-layout .content-wrapper:after {
    display: none;
  }
  /* line 570, ../sass/newCss.scss */
  .two-tone-layout .sidebar-wrapper {
    margin-right: 0;
    width: 100%;
    padding: 0 5px;
    padding-top: 0;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid #E5E5E5;
  }
  /* line 579, ../sass/newCss.scss */
  .two-tone-layout .sidebar-wrapper:after {
    display: none;
  }

  /* line 585, ../sass/newCss.scss */
  .two-tone-layout.left-sidebar .container {
    padding-left: 15px;
  }
  /* line 588, ../sass/newCss.scss */
  .two-tone-layout.left-sidebar .content-wrapper {
    padding: 0 20px;
    margin-top: 20px;
  }
  /* line 592, ../sass/newCss.scss */
  .two-tone-layout.left-sidebar .sidebar-wrapper {
    margin-left: 0;
    width: 100%;
    padding: 0 5px;
    border-left: 0;
  }

  /* line 600, ../sass/newCss.scss */
  .two-tone-layout.size-2 .container {
    padding: 0;
  }
  /* line 603, ../sass/newCss.scss */
  .two-tone-layout.size-2 .content-wrapper {
    background: #F7F7F7;
    padding-right: 30px;
  }
  /* line 606, ../sass/newCss.scss */
  .two-tone-layout.size-2 .content-wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 999px;
    left: -999px;
  }
  /* line 615, ../sass/newCss.scss */
  .two-tone-layout.size-2 .sidebar-wrapper {
    margin-right: 0;
    width: 100%;
    padding: 0 5px;
    padding-top: 0;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid #E5E5E5;
  }

  /* line 627, ../sass/newCss.scss */
  .two-tone-layout.left-sidebar.size-2 .container {
    padding-left: 15px;
  }
  /* line 630, ../sass/newCss.scss */
  .two-tone-layout.left-sidebar.size-2 .content-wrapper {
    padding: 0;
  }
  /* line 632, ../sass/newCss.scss */
  .two-tone-layout.left-sidebar.size-2 .content-wrapper:after {
    display: none;
  }
  /* line 636, ../sass/newCss.scss */
  .two-tone-layout.left-sidebar.size-2 .sidebar-wrapper {
    margin-left: 0;
    width: 100%;
    padding: 0 5px;
    border: 1px solid #E5E5E5;
  }
  /* line 637, ../sass/newCss.scss */
  .two-tone-layout.left-sidebar.size-2 .sidebar-wrapper:after {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  /* line 648, ../sass/newCss.scss */
  .signin_background {
    width: 80%;
  }

  /* line 651, ../sass/newCss.scss */
  .hotel-item-list-wrapper.comboSchemes {
    margin-top: 60px;
  }

  /* line 655, ../sass/newCss.scss */
  .two-tone-layout .content-wrapper {
    padding: 0;
  }

  /* line 660, ../sass/newCss.scss */
  .two-tone-layout.left-sidebar .content-wrapper {
    padding: 0;
  }
}
/*two-tone scss end*/
/**
 * Layout - Equal Content Sidebar
*/
/* line 672, ../sass/newCss.scss */
.equal-content-sidebar-by-js {
  overflow-x: hidden;
}

/* line 673, ../sass/newCss.scss */
.equal-content-sidebar-by-js .content-wrapper {
  float: left;
  width: 75%;
  vertical-align: top;
  background: #F7F7F7;
  padding-left: 30px;
  position: relative;
}

/* line 674, ../sass/newCss.scss */
.equal-content-sidebar-by-js .content-wrapper:before {
  content: "";
  background: #F7F7F7;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -999px;
  width: 999px;
}

/* line 675, ../sass/newCss.scss */
.equal-content-sidebar-by-js .sidebar-wrapper {
  float: left;
  width: 25%;
  vertical-align: top;
  background: #EDEDED;
  padding-right: 30px;
  position: relative;
  border-right: 1px solid #E5E5E5;
}

/* line 676, ../sass/newCss.scss */
.equal-content-sidebar-by-js .sidebar-wrapper:before {
  content: "";
  background: #EDEDED;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -999px;
  width: 999px;
}

/* line 678, ../sass/newCss.scss */
.equal-content-sidebar-by-js.ratio-70-30 .content-wrapper {
  width: 70%;
}

/* line 679, ../sass/newCss.scss */
.equal-content-sidebar-by-js.ratio-70-30 .sidebar-wrapper {
  width: 30%;
}

/* line 681, ../sass/newCss.scss */
.equal-content-sidebar-by-js.ratio-65-35 .content-wrapper {
  width: 65.5%;
}

/* line 682, ../sass/newCss.scss */
.equal-content-sidebar-by-js.ratio-65-65 .sidebar-wrapper {
  width: 34.5%;
}

/* line 684, ../sass/newCss.scss */
.equal-content-sidebar-by-gridLex {
  overflow-x: hidden;
}

/* line 685, ../sass/newCss.scss */
.equal-content-sidebar-by-gridLex .content-wrapper {
  background: #F7F7F7;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  width: 100%;
}

/* line 686, ../sass/newCss.scss */
.equal-content-sidebar-by-gridLex .content-wrapper:before {
  content: "";
  background: #F7F7F7;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -999px;
  width: 999px;
}

/* line 687, ../sass/newCss.scss */
.equal-content-sidebar-by-gridLex .sidebar-wrapper {
  background: #EDEDED;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  border-right: 1px solid #E5E5E5;
  width: 100%;
}

/* line 688, ../sass/newCss.scss */
.equal-content-sidebar-by-gridLex .sidebar-wrapper:before {
  content: "";
  background: #EDEDED;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -999px;
  width: 999px;
}

/* line 690, ../sass/newCss.scss */
.equal-content-sidebar-by-js.right-sidebar .content-wrapper, .equal-content-sidebar-by-gridLex.right-sidebar .content-wrapper {
  padding-left: 0;
  padding-right: 30px;
}

/* line 691, ../sass/newCss.scss */
.equal-content-sidebar-by-js.right-sidebar .content-wrapper:before, .equal-content-sidebar-by-gridLex.right-sidebar .content-wrapper:before {
  right: auto;
  left: -999px;
}

/* line 692, ../sass/newCss.scss */
.equal-content-sidebar-by-js.right-sidebar .sidebar-wrapper, .equal-content-sidebar-by-gridLex.right-sidebar .sidebar-wrapper {
  padding-right: 0;
  padding-left: 30px;
  float: right;
  border-right: 0;
  border-left: 1px solid #E5E5E5;
}

/* line 693, ../sass/newCss.scss */
.equal-content-sidebar-by-js.right-sidebar .sidebar-wrapper:before, .equal-content-sidebar-by-gridLex.right-sidebar .sidebar-wrapper:before {
  left: auto;
  right: -999px;
}

@media only screen and (max-width: 1199px) {
  /* line 696, ../sass/newCss.scss */
  .equal-content-sidebar-by-js .content-wrapper {
    width: 70%;
  }

  /* line 697, ../sass/newCss.scss */
  .equal-content-sidebar-by-js .sidebar-wrapper {
    width: 30%;
  }
}
@media only screen and (max-width: 991px) {
  /* line 701, ../sass/newCss.scss */
  .equal-content-sidebar-by-js .content-wrapper {
    width: 65%;
  }

  /* line 702, ../sass/newCss.scss */
  .equal-content-sidebar-by-js .sidebar-wrapper {
    width: 35%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 706, ../sass/newCss.scss */
  .equal-content-sidebar-by-js .content-wrapper {
    width: 100%;
    padding-left: 0;
  }

  /* line 707, ../sass/newCss.scss */
  .equal-content-sidebar-by-js .sidebar-wrapper {
    width: 100%;
    padding-right: 0;
    border: 0 !important;
  }

  /* line 708, ../sass/newCss.scss */
  .equal-content-sidebar-by-gridLex .content-wrapper {
    padding-left: 0;
  }

  /* line 709, ../sass/newCss.scss */
  .equal-content-sidebar-by-gridLex .sidebar-wrapper {
    padding-right: 0;
  }

  /* line 710, ../sass/newCss.scss */
  .equal-content-sidebar-by-js .content-wrapper:after, .equal-content-sidebar-by-gridLex .content-wrapper:after {
    content: "";
    background: #F7F7F7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -999px;
    width: 999px;
  }

  /* line 711, ../sass/newCss.scss */
  .equal-content-sidebar-by-js .sidebar-wrapper:after, .equal-content-sidebar-by-gridLex .sidebar-wrapper:after {
    content: "";
    background: #EDEDED;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -999px;
    width: 999px;
  }

  /* line 713, ../sass/newCss.scss */
  .equal-content-sidebar-by-js.right-sidebar .content-wrapper, .equal-content-sidebar-by-gridLex.right-sidebar .content-wrapper {
    padding-right: 0;
  }

  /* line 714, ../sass/newCss.scss */
  .equal-content-sidebar-by-js.right-sidebar .sidebar-wrapper, .equal-content-sidebar-by-gridLex.right-sidebar .sidebar-wrapper {
    padding-left: 0;
    float: right;
  }

  /* line 715, ../sass/newCss.scss */
  .equal-content-sidebar-by-js.right-sidebar .content-wrapper:after, .equal-content-sidebar-by-gridLex.right-sidebar .content-wrapper:after {
    left: auto;
    right: -999px;
  }

  /* line 716, ../sass/newCss.scss */
  .equal-content-sidebar-by-js.right-sidebar .sidebar-wrapper:after, .equal-content-sidebar-by-gridLex.right-sidebar .sidebar-wrapper:after {
    right: auto;
    left: -999px;
  }
}
/*Layout - Equal Content Sidebar scss end*/
/**
 * Result Page
 */
/* line 727, ../sass/newCss.scss */
.result-status {
  position: relative;
  margin-bottom: 25px;
  border-bottom: 2px solid #E6E6E6;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 733, ../sass/newCss.scss */
.result-status p {
  margin: 0;
  font-size: 16px;
}
/* line 737, ../sass/newCss.scss */
.result-status a.show-on-map {
  display: block;
  position: absolute;
  top: 0;
  bottom: -2px;
  right: 0;
  width: 93px;
  line-height: 1;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  background-position: 50% 50%;
  border-left: 5px solid #F7F7F7;
}
/* line 750, ../sass/newCss.scss */
.result-status a.show-on-map img {
  width: 30px;
  margin: 0 auto;
  margin-top: -15px;
}
/* line 755, ../sass/newCss.scss */
.result-status a.show-on-map .absolute {
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
}
/* line 763, ../sass/newCss.scss */
.result-status .back-to-list {
  position: absolute;
  top: 0;
  bottom: -2px;
  right: 0;
  width: 80px;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  border-left: 5px solid #F7F7F7;
  background: #18bb9c;
  color: #FFF;
  padding-top: 5px;
}
/* line 777, ../sass/newCss.scss */
.result-status .back-to-list span {
  display: block;
  text-transform: uppercase;
}
/* line 781, ../sass/newCss.scss */
.result-status .back-to-list a {
  color: #FFF;
  font-size: 14px;
}
/* line 784, ../sass/newCss.scss */
.result-status .back-to-list a:hover {
  color: rgba(255, 255, 255, 0.7);
}
/* line 788, ../sass/newCss.scss */
.result-status .back-to-list a + a {
  margin-left: 5px;
}

/* line 795, ../sass/newCss.scss */
.result-search-form-wrapper {
  background: #ededed;
}
/* line 797, ../sass/newCss.scss */
.result-search-form-wrapper h3 {
  color: #5d5d5d;
  font-size: 16px;
  line-height: 1;
  margin: 5px 0 0;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 14px;
}
/* line 807, ../sass/newCss.scss */
.result-search-form-wrapper > .inner {
  padding: 10px;
}
/* line 810, ../sass/newCss.scss */
.result-search-form-wrapper .form-control {
  margin: 0;
}
/* line 812, ../sass/newCss.scss */
.result-search-form-wrapper .form-control:focus {
  border-color: #F65C33;
}
/* line 816, ../sass/newCss.scss */
.result-search-form-wrapper .form-group {
  margin-bottom: 10px;
}
/* line 817, ../sass/newCss.scss */
.result-search-form-wrapper .form-group.timePeriod {
  margin-right: 0;
  margin-left: 0;
}
/* line 823, ../sass/newCss.scss */
.result-search-form-wrapper label {
  color: #5d5d5d;
  font-weight: 400;
  margin: 0 0 5px;
}
/* line 828, ../sass/newCss.scss */
.result-search-form-wrapper .tooltip-inner {
  max-width: 240px;
}

/* line 832, ../sass/newCss.scss */
.result-filter-wrapper {
  background: #FFF;
}
/* line 834, ../sass/newCss.scss */
.result-filter-wrapper h3 {
  margin: 20px;
  margin-left: 40px;
  position: relative;
  text-transform: uppercase;
  padding-left: 27px;
  border-bottom: 1px solid #18bb9c;
  padding-bottom: 2px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
}
/* line 845, ../sass/newCss.scss */
.result-filter-wrapper h3 .icon {
  width: 30px;
  height: 30px;
  border: 1px solid #18bb9c;
  position: absolute;
  display: block;
  top: -4px;
  left: -20px;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  color: #18bb9c;
  font-size: 16px;
}

/* line 861, ../sass/newCss.scss */
.filter-toggle {
  margin: 0;
  background: #FFF;
  padding: 0;
}
/* line 865, ../sass/newCss.scss */
.filter-toggle h4 {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1px;
  background: #F7F7F7;
  color: #333;
  margin: 0;
  padding: 12px 20px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}
/* line 877, ../sass/newCss.scss */
.filter-toggle h4:after {
  font-size: 8px;
  top: 12px;
  right: 20px;
  border: 1px solid #999;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  padding-left: 2px;
  color: #999;
}
/* line 891, ../sass/newCss.scss */
.filter-toggle h4.active {
  color: #333;
}
/* line 894, ../sass/newCss.scss */
.filter-toggle .another-toggle-inner {
  padding: 15px 20px;
}
/* line 897, ../sass/newCss.scss */
.filter-toggle .range-slider-wrapper {
  margin-bottom: -10px;
}
/* line 900, ../sass/newCss.scss */
.filter-toggle label {
  font-size: 13px;
}

/* line 904, ../sass/newCss.scss */
.clear {
  clear: both;
  width: 100%;
  overflow: hidden;
}

/* line 909, ../sass/newCss.scss */
.result-paging-wrapper {
  border-top: 2px solid #E6E6E6;
  margin-top: 20px;
  padding-top: 10px;
}
/* line 913, ../sass/newCss.scss */
.result-paging-wrapper ul.paging {
  float: right;
}

/* line 918, ../sass/newCss.scss */
ul.paging li {
  float: left;
  margin-left: 2px;
}
/* line 921, ../sass/newCss.scss */
ul.paging li a {
  color: #636363;
  padding: 2px 10px;
}
/* line 924, ../sass/newCss.scss */
ul.paging li a:hover {
  background: #18bb9c;
  color: #FFF;
}
/* line 931, ../sass/newCss.scss */
ul.paging li.active a {
  background: #18bb9c;
  color: #FFF;
}
/* line 937, ../sass/newCss.scss */
ul.paging li.disable a {
  cursor: not-allowed;
  background: transparent;
  color: #636363;
}

/* line 945, ../sass/newCss.scss */
.text-center ul.paging {
  float: none;
  text-align: center;
}
/* line 948, ../sass/newCss.scss */
.text-center ul.paging li {
  float: none;
  margin-left: 2px;
  display: inline-block;
}

@media only screen and (max-width: 991px) {
  /* line 956, ../sass/newCss.scss */
  .result-status {
    padding-right: 90px;
    line-height: 16px;
  }

  /* line 960, ../sass/newCss.scss */
  .result-search-form-wrapper {
    margin-top: -5px;
  }

  /* line 963, ../sass/newCss.scss */
  .sort-wrapper {
    position: absolute;
    margin-top: -110px;
    margin-right: 20px;
    max-width: none;
  }
  /* line 968, ../sass/newCss.scss */
  .sort-wrapper .text.input-wrapper {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 974, ../sass/newCss.scss */
  .sort-wrapper {
    position: absolute;
    margin-top: -92px;
    margin-right: 0px;
  }
  /* line 979, ../sass/newCss.scss */
  .sort-wrapper > ul > li {
    min-width: auto;
  }
  /* line 981, ../sass/newCss.scss */
  .sort-wrapper > ul > li > a {
    padding: 5px 6px;
  }
  /* line 985, ../sass/newCss.scss */
  .sort-wrapper > ul > li.text {
    padding: 5px 6px;
  }

  /* line 990, ../sass/newCss.scss */
  .result-paging-wrapper {
    text-align: center;
  }
  /* line 992, ../sass/newCss.scss */
  .result-paging-wrapper ul.paging {
    float: none !important;
    padding: 0;
    margin: 10px 0 0;
  }
  /* line 996, ../sass/newCss.scss */
  .result-paging-wrapper ul.paging li {
    float: none;
    margin: 0;
    display: inline-block;
  }
}
@media (max-width: 479px) {
  /* line 1007, ../sass/newCss.scss */
  .pagination > li > a {
    padding: 8px 12px;
  }
  /* line 1010, ../sass/newCss.scss */
  .pagination > li > span {
    padding: 8px 12px;
  }

  /* line 1017, ../sass/newCss.scss */
  .sort-wrapper > ul > li {
    min-width: auto;
  }
  /* line 1019, ../sass/newCss.scss */
  .sort-wrapper > ul > li > a {
    border-right: 0;
    padding: 5px 5px;
    padding: 5px 5px;
  }
  /* line 1025, ../sass/newCss.scss */
  .sort-wrapper > ul > li.text {
    border-right: 0;
    padding: 5px 5px;
    padding: 5px 5px;
  }
  /* line 1031, ../sass/newCss.scss */
  .sort-wrapper > ul > li.list-grid a {
    border-right: 0;
    border-left: none;
    padding-bottom: 0;
    padding-top: 0;
  }
}
/*Result scss end*/
/* line 1043, ../sass/newCss.scss */
.schemeDetails {
  transition: all linear 1.5s;
}
/* line 1046, ../sass/newCss.scss */
.schemeDetails .mfScheme {
  padding: 10px 60px;
  margin: 0px;
  background: rgba(1, 1, 1, 0.1);
  color: #555;
}

/**
 * Hotel
 */
/* line 1059, ../sass/newCss.scss */
.top-hotel-grid-wrapper > .row > div {
  margin: 0 0 20px;
}
/* line 1064, ../sass/newCss.scss */
.top-hotel-grid-wrapper > .row.gap-15 > div {
  margin: 0 0 15px;
}
/* line 1069, ../sass/newCss.scss */
.top-hotel-grid-wrapper > .row.gap-10 > div {
  margin: 0 0 10px;
}

/* line 1075, ../sass/newCss.scss */
.bg-white .hotel-item-grid {
  background: #F2F2F2;
}

/* line 1080, ../sass/newCss.scss */
.min-height-alt .hotel-item-grid {
  min-height: 315px;
}

/* line 1084, ../sass/newCss.scss */
.infobox-hotel-item {
  width: 260px;
  background: #FFF;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 9999999;
  font-size: 13px;
}
/* line 1091, ../sass/newCss.scss */
.infobox-hotel-item a {
  display: block;
  color: #636363;
}
/* line 1096, ../sass/newCss.scss */
.infobox-hotel-item .image img {
  width: 100%;
  display: block;
}
/* line 1102, ../sass/newCss.scss */
.infobox-hotel-item .tripadvisor-module div {
  font-size: 13px;
  font-weight: 400;
}
/* line 1108, ../sass/newCss.scss */
.infobox-hotel-item .tripadvisor-rate i {
  margin-right: 3px;
}
/* line 1112, ../sass/newCss.scss */
.infobox-hotel-item:after {
  left: 50%;
  bottom: -20px;
  margin-left: -10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #C7C7C7;
  border-width: 10px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
/* line 1130, ../sass/newCss.scss */
.infobox-hotel-item:hover:after {
  border-top-color: #18bb9c;
}

/* line 1136, ../sass/newCss.scss */
.infobox-hotel-item.hotel-item-grid .content {
  bottom: -2px;
}

/* line 1140, ../sass/newCss.scss */
.hotel-item-list-wrapper {
  padding: 0px;
}
/* line 1142, ../sass/newCss.scss */
.hotel-item-list-wrapper.comboSchemes {
  background: whitesmoke;
  margin-top: 90px;
}
/* line 1145, ../sass/newCss.scss */
.hotel-item-list-wrapper.comboSchemes .data1 .hotel-item-list {
  background: whitesmoke;
}

/* line 1148, ../sass/newCss.scss */
.data1 {
  margin: 0 0 10px;
}
/* line 1150, ../sass/newCss.scss */
.data1:hover {
  border: 1px solid #18bb9c;
}

/* line 1154, ../sass/newCss.scss */
.hotel-item-list {
  position: relative;
  min-height: 100px;
  background: #FFF;
  border: 1px solid #E6E6E6;
}
/* line 1159, ../sass/newCss.scss */
.hotel-item-list:hover {
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.4);
}
/* line 1164, ../sass/newCss.scss */
.hotel-item-list.combosch {
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.15);
  border-bottom: 2px solid #DEDEDE;
  transition: all .35s ease-in-out;
  -webkit-transition: all .35s ease-in-out;
}
/* line 1172, ../sass/newCss.scss */
.hotel-item-list a {
  display: block;
}
/* line 1175, ../sass/newCss.scss */
.hotel-item-list .image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  background-size: cover;
  background-position: center center;
  max-height: 80px;
  max-width: 100px;
}
/* line 1187, ../sass/newCss.scss */
.hotel-item-list .content {
  margin-left: 110px;
  margin-right: 200px;
  padding: 10px 10px 0;
  border-left: 1px solid #E8E8E8;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 1199, ../sass/newCss.scss */
.hotel-item-list .heading {
  margin: 0px;
}
/* line 1201, ../sass/newCss.scss */
.hotel-item-list .heading h4 {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 16px;
  margin: 0 0 2px;
  font-weight: 600;
  color: #18bb9c;
}
/* line 1208, ../sass/newCss.scss */
.hotel-item-list .heading h4 .suggestedCombo {
  text-transform: none;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 2px;
  font-weight: 600;
  color: #555;
}
/* line 1218, ../sass/newCss.scss */
.hotel-item-list .risk-info {
  padding: 0;
}
/* line 1220, ../sass/newCss.scss */
.hotel-item-list .risk-info p, .hotel-item-list .risk-info h3, .hotel-item-list .risk-info p span strong {
  font-size: 12px;
}
/* line 1222, ../sass/newCss.scss */
.hotel-item-list .short-info {
  line-height: 1.5;
  margin-bottom: 50px;
}
/* line 1226, ../sass/newCss.scss */
.hotel-item-list .absolute-bottom {
  position: absolute;
  bottom: 0;
  right: 125px;
  left: 276px;
  border-top: 1px solid #E8E8E8;
  padding: 15px 15px 17px;
  padding-left: 0;
  line-height: 1;
}
/* line 1236, ../sass/newCss.scss */
.hotel-item-list .absolute-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  border-left: 1px solid #E8E8E8;
  text-align: center;
  line-height: 1.3;
}
/* line 1245, ../sass/newCss.scss */
.hotel-item-list .absolute-right .star-rate {
  float: right;
}
/* line 1249, ../sass/newCss.scss */
.hotel-item-list .meta-option {
  font-size: 13px;
}
/* line 1252, ../sass/newCss.scss */
.hotel-item-list .price-wrapper {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
/* line 1257, ../sass/newCss.scss */
.hotel-item-list .price-wrapper .previousStats {
  width: 100%;
  border-top: 1px solid #E8E8E8;
}
/* line 1260, ../sass/newCss.scss */
.hotel-item-list .price-wrapper .previousStats th {
  font-weight: 600;
}
/* line 1261, ../sass/newCss.scss */
.hotel-item-list .price-wrapper .previousStats th, .hotel-item-list .price-wrapper .previousStats td {
  font-size: 10px;
  padding: 3px 5px;
  text-align: center;
}
/* line 1265, ../sass/newCss.scss */
.hotel-item-list .price .number {
  font-weight: 500;
  font-size: 24px;
  color: #2C3E51;
  font-family: Open Sans;
}
/* line 1272, ../sass/newCss.scss */
.hotel-item-list .star-rate {
  float: left;
  margin-top: 5px;
}
/* line 1276, ../sass/newCss.scss */
.hotel-item-list .btn-sm {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 1279, ../sass/newCss.scss */
.hotel-item-list .btn-sm.btn-outline {
  margin: 0;
}

/* line 1284, ../sass/newCss.scss */
ul.check-in-out {
  margin-left: -5px;
  margin-right: -5px;
}
/* line 1287, ../sass/newCss.scss */
ul.check-in-out li {
  width: 50%;
  float: left;
  text-align: center;
  line-height: 1;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}
/* line 1295, ../sass/newCss.scss */
ul.check-in-out li span {
  display: block;
  margin: 1px 0;
}

/* line 1301, ../sass/newCss.scss */
.check-in-out-item {
  background: #EBEBEB;
  font-size: 12px;
  font-weight: 700;
  padding: 14px 8px 7px;
}
/* line 1306, ../sass/newCss.scss */
.check-in-out-item .date {
  font-size: 26px;
  font-weight: 700;
  color: #005294;
  margin: 4px 0;
}
/* line 1312, ../sass/newCss.scss */
.check-in-out-item .day {
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 13px;
  color: #333;
}
/* line 1318, ../sass/newCss.scss */
.check-in-out-item .month-year {
  color: #999;
  font-style: italic;
  font-weight: 400;
}

/* line 1324, ../sass/newCss.scss */
a.tripadvisor-module {
  line-height: 16px;
  color: #787878;
  text-decoration: none;
}
/* line 1328, ../sass/newCss.scss */
a.tripadvisor-module:hover {
  color: #DB542E;
}

/* line 1332, ../sass/newCss.scss */
.tripadvisor-module {
  line-height: 16px;
}
/* line 1334, ../sass/newCss.scss */
.tripadvisor-module .texting {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 2px;
  margin-top: 5px;
  font-family: Open Sans;
  color: #18bb9c;
}

/* line 1343, ../sass/newCss.scss */
.tripadvisor-rate {
  line-height: 16px;
}
/* line 1345, ../sass/newCss.scss */
.tripadvisor-rate i {
  color: #B2B2B2;
  font-size: 13px;
}
/* line 1349, ../sass/newCss.scss */
.tripadvisor-rate i.rated {
  color: #469C3B;
}

@media (min-width: 479px) and (max-width: 620px) {
  /* line 1354, ../sass/newCss.scss */
  .signin_background {
    width: 90%;
  }

  /* line 1357, ../sass/newCss.scss */
  .previousStats {
    display: none;
  }

  /* line 1358, ../sass/newCss.scss */
  .hotel-item-list .absolute-right {
    width: 200px;
  }

  /* line 1361, ../sass/newCss.scss */
  .hotel-item-list .content {
    margin-right: 200px;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  /* line 1366, ../sass/newCss.scss */
  .hidden-6m {
    display: none;
  }

  /* line 1367, ../sass/newCss.scss */
  .hotel-item-list {
    min-height: 110px;
  }
  /* line 1369, ../sass/newCss.scss */
  .hotel-item-list .image {
    bottom: auto;
    height: 120px;
    width: 150px;
  }
  /* line 1374, ../sass/newCss.scss */
  .hotel-item-list .content {
    margin-left: 158px;
    margin-bottom: 75px;
    padding: 10px 10px 0;
    border-left: 1px solid #E8E8E8;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
  /* line 1384, ../sass/newCss.scss */
  .hotel-item-list .absolute-bottom {
    left: 175px;
  }

  /* line 1388, ../sass/newCss.scss */
  .mfScheme {
    padding: 10px 60px;
  }
}
@media only screen and (max-width: 991px) {
  /* line 1393, ../sass/newCss.scss */
  .mfScheme {
    padding: 10px 50px;
  }

  /* line 1396, ../sass/newCss.scss */
  .hotel-item-list-wrapper.comboSchemes {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1401, ../sass/newCss.scss */
  .hotel-item-grid {
    min-height: 280px;
  }

  /* line 1405, ../sass/newCss.scss */
  .hotel-item-list .image {
    height: 80px;
    width: 100px;
  }
  /* line 1409, ../sass/newCss.scss */
  .hotel-item-list .content {
    margin-left: 108px;
  }
  /* line 1412, ../sass/newCss.scss */
  .hotel-item-list .absolute-bottom {
    left: 115px;
  }

  /* line 1416, ../sass/newCss.scss */
  .mfScheme {
    padding: 10px;
  }

  /* line 1419, ../sass/newCss.scss */
  .hotel-item-list-wrapper.comboSchemes {
    margin-top: 60px;
  }
}
@media (max-width: 479px) {
  /* line 1424, ../sass/newCss.scss */
  .signin_background {
    width: 90%;
  }

  /* line 1427, ../sass/newCss.scss */
  .previousStats {
    margin-top: 20px;
  }

  /* line 1428, ../sass/newCss.scss */
  .hotel-item-grid {
    min-height: 345px;
  }

  /* line 1432, ../sass/newCss.scss */
  .hotel-item-list .image {
    margin: auto;
    margin-top: 170px;
  }
  /* line 1436, ../sass/newCss.scss */
  .hotel-item-list .content {
    margin: 0;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #E8E8E8;
  }
  /* line 1442, ../sass/newCss.scss */
  .hotel-item-list .short-info {
    margin-bottom: 10px;
  }
  /* line 1445, ../sass/newCss.scss */
  .hotel-item-list .absolute-bottom {
    position: relative;
    left: 0;
    top: 0;
    bottom: auto;
    padding: 15px;
    width: 100%;
    line-height: 1.4;
    border-bottom: 1px solid #E8E8E8;
    padding: 6px 10px 8px;
  }
  /* line 1456, ../sass/newCss.scss */
  .hotel-item-list .absolute-right {
    position: relative;
    top: 0;
    bottom: 0;
    height: auto;
    right: 0;
    left: 48px;
    width: 60%;
    text-align: left;
    line-height: 1.3;
    padding: 10px 10px 0;
    margin: auto;
  }
  /* line 1468, ../sass/newCss.scss */
  .hotel-item-list .absolute-right .star-rate {
    float: left;
  }
  /* line 1472, ../sass/newCss.scss */
  .hotel-item-list .meta-option {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    font-size: 13px;
    width: 100%;
  }
  /* line 1479, ../sass/newCss.scss */
  .hotel-item-list .meta-option .tripadvisor-module {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
  }
  /* line 1484, ../sass/newCss.scss */
  .hotel-item-list .meta-option .tripadvisor-module > div {
    display: inline-block;
  }
  /* line 1489, ../sass/newCss.scss */
  .hotel-item-list .price-wrapper {
    position: relative;
    bottom: 10px;
    right: auto;
    left: 0;
    text-align: center;
    width: 100%;
  }
  /* line 1496, ../sass/newCss.scss */
  .hotel-item-list .price-wrapper p.price {
    margin: 0 0 5px;
  }
  /* line 1499, ../sass/newCss.scss */
  .hotel-item-list .price-wrapper span.block {
    display: inline-block !important;
  }

  /* line 1504, ../sass/newCss.scss */
  .mfScheme {
    padding: 10px;
  }
}
/*Hotel scss end*/
/* line 1511, ../sass/newCss.scss */
.font-icon-radio input[type="radio"] + label, .font-icon-checkbox input[type="checkbox"] + label {
  background: none;
  position: relative;
  padding-left: 10px;
}

/* line 1516, ../sass/newCss.scss */
input.checkbox {
  border: none;
}

/* line 1519, ../sass/newCss.scss */
input[type="radio"], input[type="checkbox"] {
  float: left;
  width: 18px;
}

@media (max-width: 479px) {
  /* line 1524, ../sass/newCss.scss */
  .col-xss-12 {
    width: 100%;
  }

  /* line 1527, ../sass/newCss.scss */
  .col-xss-7 {
    width: 58.33333333%;
  }

  /* line 1530, ../sass/newCss.scss */
  .col-xss-6 {
    width: 50%;
  }

  /* line 1533, ../sass/newCss.scss */
  .col-xss-5 {
    width: 41.66666667%;
  }

  /* line 1536, ../sass/newCss.scss */
  .col-xss-4 {
    width: 33.33333333%;
  }

  /* line 1539, ../sass/newCss.scss */
  .col-xss-3 {
    width: 25%;
  }
}
/* line 1543, ../sass/newCss.scss */
.paddingLeft2 {
  padding: 0 2px;
}

/* line 1547, ../sass/newCss.scss */
.cart .cartItem {
  margin: 2px;
  cursor: pointer;
  background: white;
  color: #333333;
  border-color: #dddddd;
  padding-bottom: 0;
}
/* line 1554, ../sass/newCss.scss */
.cart .cartItem.active:hover {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
  background: white;
  color: #333333;
  border-color: #dddddd;
}
/* line 1560, ../sass/newCss.scss */
.cart .cartItem .list-group-item-heading {
  width: 100%;
  padding-bottom: 5px;
  display: inline-block;
}
/* line 1565, ../sass/newCss.scss */
.cart .cartItem .badge {
  margin-top: 5px;
}
/* line 1566, ../sass/newCss.scss */
.cart .cartItem .cartEdit input {
  margin: 0;
  width: 100%;
  padding: 0px 10px;
  height: auto;
}
/* line 1572, ../sass/newCss.scss */
.cart .cartItem .cartEditDiv {
  position: absolute;
  right: 0;
  text-align: right;
}
/* line 1576, ../sass/newCss.scss */
.cart .cartItem .cartEditDiv .cartButton {
  border: 0;
  background: transparent;
}
/* line 1579, ../sass/newCss.scss */
.cart .cartItem .cartEditDiv .cartButton:hover {
  color: #18bb9c;
}
/* line 1585, ../sass/newCss.scss */
.cart .btnCheckout {
  margin-right: 0;
}
