<div class="cart" ng-controller="cartController">
<header> 
            <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top"  >
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://finotrust.com"><img src="./images/logo_img.jpg " ></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden"><a href="#page-top"></a></li>
                <li class="page-scroll"><a href="#/whyFino">Why Fino</a></li>
                <li class="page-scroll"><a href="#/whatWeDo" >What We Do</a></li>
                <li class="page-scroll"><a href="#/aboutUs">About Us</a></li>
                <li class="page-scroll"><a href="#/pricing" >Pricing</a></li>
                <li class="page-scroll"><a href="#/FAQs">FAQs</a></li>
                <li class="page-scroll"><a class="cd-signin" href="#">Sign in</a></li>
                <li class="page-scroll" id="sign-up" ><a href="#/getStarted"> Sign Up </a></li>        
            </ul>
            </div>
        </div>
    </nav>
</header>
<br/><br/><br/>
	<button ng-click="addDate()">Add</button>


	<div class="container">
		<div class="list-group" ng-repeat="cart2 in names" >
		  <div class="list-group-item active cartItem" ng-click="collapsed = !collapsed" >
		    <h4 class="list-group-item-heading">List group item heading {{cart2 | date}}</h4><span class="badge" ng-click="remove($index)">X</span>

			<div class="inner mfScheme row list-group-item-text collapse" ng-class="{'collapse' : collapsed}">
				<div class="col-md-6 col-xs-12 col-sm-6 ">
					<p>Scheme type: None</p>
					<p>Asset Family: Reliance</p>
					<p>MF Classification: None</p>
				</div>
				<div class="col-md-6 col-xs-12 col-sm-6 ">
					<p>Minimum Investment: Rs. 2,000</p>
					<p>Lock-in Period: 3 Months</p>
					<p>Exit Load: None</p>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>
	