<div class="fundsPage">
	<header>
    <!-- Navigation -->
<nav class="navbar navbar-default inner-head">
  <div class="container-fluid">
    <!--<div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="images/logo_img.jpg ">
      </a>
    </div>-->
 <div class="navbar-header page-scroll">
	<button type="button" class="navbar-toggle inner-button" data-toggle="collapse" data-target="#dropdown-thumbnail-preview1">
		<span class="sr-only">Toggle navigation</span>
		<span class="glyphicon glyphicon-user"></span>
	</button>
	<button type="button" class="navbar-toggle inner-button" data-toggle="collapse" data-target="#dropdown-thumbnail-preview">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="summary.html"><img src="images/logo_img.jpg " ></a>
</div>
	    <div  >
      <ul class="nav navbar-nav collapse navbar-collapse" id="dropdown-thumbnail-preview">
		<li class="hidden"><a href="#page-top"></a></li>
        <li class="page-scroll"><a href="/summary">Summary</a></li>
        <li class="page-scroll"><a href="/invest">invest</a></li>
        <li class="page-scroll"><a href="/performance">Performance</a></li>
        <li class="page-scroll"><a href="/benchmark">Benchmark</a></li>
        <li class="page-scroll"><a href="/funds" class="active-now">Funds</a></li>
        <li class="page-scroll hidden-lg" data-toggle="modal" data-target="#tour_modal"><a>take a Tour</a></li>

      </ul>
	  
	  
      <ul class="nav navbar-nav navbar-right " >

        <li class="dropdown visible-lg" data-toggle="modal" data-target="#tour_modal"><a>take a Tour</a></li>
        <li class="dropdown username" >
          <a class="dropdown-toggle visible-lg" data-toggle="dropdown" >Username <span class="caret"></span></a>
          <ul class="dropdown-menu  navbar-collapse" role="menu" id="dropdown-thumbnail-preview1">
            <li><a href="#">Total Balance</a></li>
            <li><a href="#">Add a Family Member</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
</header>
	
	
<div class="container">
	
<div class="col-md-8 top-table" >
  <uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="Equity Funds">
      <div class="tab-pane fade in active top-table-content">
        <h3>Equity Funds- Moderate Risk</h3>
        <table>
          <thead>
            <tr>
              <th><div class="">Scheme name </div></th> 
              <th><div class="">VRO Rating </div></th> 
              <th ><div>1 Year<br>Returns </div></th> 
              <th ><div>3 Year<br>Returns </div></th> 
              <th ><div>5 Year<br>Returns </div></th>
              <th><div class=""></div></th> 
              <th><div class=""></div></th> 
            </tr>
          </thead>

          <tbody>
            <tr>

              <td >BNP Paribas LT Equity Fund(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
            <tr>

              <td >IDFC Tax Advt(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
            <tr>

              <td >Franklin India Taxshield(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
          </tbody>
        </table>
        
          <h3>Equity Funds- High Risk</h3>
        <table>
          <thead>
            <tr>
              <th><div class="">Scheme name </div></th> 
              <th><div class="">VRO Rating </div></th> 
              <th ><div>1 Year<br>Returns </div></th> 
              <th ><div>3 Year<br>Returns </div></th> 
              <th ><div>5 Year<br>Returns </div></th>
              <th><div class=""></div></th> 
              <th><div class=""></div></th> 
            </tr>
          </thead>

          <tbody>
            <tr>

              <td >BNP Paribas LT Equity Fund(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
            <tr>

              <td >IDFC Tax Advt(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
            <tr>

              <td >Franklin India Taxshield(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
          </tbody>
        </table>

      </div>
    </uib-tab>
    <uib-tab index="1" heading="Hybrid Funds">
<div class="tab-pane fade in active top-table-content">
        <h3>Equity Funds- Moderate Risk</h3>
        <table>
          <thead>
            <tr>
              <th><div class="">Scheme name </div></th> 
              <th><div class="">VRO Rating </div></th> 
              <th ><div>1 Year<br>Returns </div></th> 
              <th ><div>3 Year<br>Returns </div></th> 
              <th ><div>5 Year<br>Returns </div></th>
              <th><div class=""></div></th> 
              <th><div class=""></div></th> 
            </tr>
          </thead>

          <tbody>
            <tr>

              <td >BNP Paribas LT Equity Fund(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
            <tr>

              <td >IDFC Tax Advt(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
            <tr>

              <td >Franklin India Taxshield(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
          </tbody>
        </table>
        
          <h3>Equity Funds- High Risk</h3>
        <table>
          <thead>
            <tr>
              <th><div class="">Scheme name </div></th> 
              <th><div class="">VRO Rating </div></th> 
              <th ><div>1 Year<br>Returns </div></th> 
              <th ><div>3 Year<br>Returns </div></th> 
              <th ><div>5 Year<br>Returns </div></th>
              <th><div class=""></div></th> 
              <th><div class=""></div></th> 
            </tr>
          </thead>

          <tbody>
            <tr>

              <td >BNP Paribas LT Equity Fund(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
            <tr>

              <td >IDFC Tax Advt(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
            <tr>

              <td >Franklin India Taxshield(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
          </tbody>
        </table>

      </div>
    </uib-tab>
    <uib-tab index="2" heading="Debt Funds">
<div class="tab-pane fade in active top-table-content">
        <h3>Equity Funds- Moderate Risk</h3>
        <table>
          <thead>
            <tr>
              <th><div class="">Scheme name </div></th> 
              <th><div class="">VRO Rating </div></th> 
              <th ><div>1 Year<br>Returns </div></th> 
              <th ><div>3 Year<br>Returns </div></th> 
              <th ><div>5 Year<br>Returns </div></th>
              <th><div class=""></div></th> 
              <th><div class=""></div></th> 
            </tr>
          </thead>

          <tbody>
            <tr>

              <td >BNP Paribas LT Equity Fund(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
            <tr>

              <td >IDFC Tax Advt(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
            <tr>

              <td >Franklin India Taxshield(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
          </tbody>
        </table>
        
          <h3>Equity Funds- High Risk</h3>
        <table>
          <thead>
            <tr>
              <th><div class="">Scheme name </div></th> 
              <th><div class="">VRO Rating </div></th> 
              <th ><div>1 Year<br>Returns </div></th> 
              <th ><div>3 Year<br>Returns </div></th> 
              <th ><div>5 Year<br>Returns </div></th>
              <th><div class=""></div></th> 
              <th><div class=""></div></th> 
            </tr>
          </thead>

          <tbody>
            <tr>

              <td >BNP Paribas LT Equity Fund(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
            <tr>

              <td >IDFC Tax Advt(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
            <tr>

              <td >Franklin India Taxshield(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
          </tbody>
        </table>

      </div>
    </uib-tab>
    <uib-tab index="3" heading="Tax-Saving Funds">
<div class="tab-pane fade in active top-table-content">
        <h3>Equity Funds- Moderate Risk</h3>
        <table>
          <thead>
            <tr>
              <th><div class="">Scheme name </div></th> 
              <th><div class="">VRO Rating </div></th> 
              <th ><div>1 Year<br>Returns </div></th> 
              <th ><div>3 Year<br>Returns </div></th> 
              <th ><div>5 Year<br>Returns </div></th>
              <th><div class=""></div></th> 
              <th><div class=""></div></th> 
            </tr>
          </thead>

          <tbody>
            <tr>

              <td >BNP Paribas LT Equity Fund(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
            <tr>

              <td >IDFC Tax Advt(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
            <tr>

              <td >Franklin India Taxshield(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
          </tbody>
        </table>
        
          <h3>Equity Funds- High Risk</h3>
        <table>
          <thead>
            <tr>
              <th><div class="">Scheme name </div></th> 
              <th><div class="">VRO Rating </div></th> 
              <th ><div>1 Year<br>Returns </div></th> 
              <th ><div>3 Year<br>Returns </div></th> 
              <th ><div>5 Year<br>Returns </div></th>
              <th><div class=""></div></th> 
              <th><div class=""></div></th> 
            </tr>
          </thead>

          <tbody>
            <tr>

              <td >BNP Paribas LT Equity Fund(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
            <tr>

              <td >IDFC Tax Advt(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
            <tr>

              <td >Franklin India Taxshield(G)</td>
              <td >****</td>
              <td >3</td>
              <td >4</td>
              <td >5</td>
              <td ><button class="buy">BUY</button></td>
              <td ><button class="sip">SIP</button></td>
            </tr>
          </tbody>
        </table>

      </div>
    </uib-tab>
  </uib-tabset>
</div>


	<div class="col-md-4 search-invest-head"><h6>Search Funds to Invest</h6></div>
		<div class="col-md-4 search-invest-select">
		<input class="panel" type="text" placeholder="Search Funds to Invest"><br>
			<label>Select AMC</label><br>
			<select class="search-invest" name="action">
				<option value="" selected hidden> AMC Name </option>
				<option value="Purchase">Purchase<span class="caret"></span></option>
				<option value="redeem">Redeem</option>
				<option value="SIP-registration">SIP Registration </option>
			</select>
			<br><label>Select Category</label><br>
			<select class="search-invest" name="action">
				<option value="" selected hidden> Scheme Type </option>
				<option value="Purchase">Purchase<span class="caret"></span></option>
				<option value="redeem">Redeem</option>
				<option value="SIP-registration">SIP Registration </option>
			</select>
			<div class="row text-center">
			<button type="search" class="btn btn-md btn-primary search-amc"  >Search</button>
			</div>
		</div>

    <!-- Modal -->
    <div class="modal fade tour_popup" id="tour_modal" tabindex="-1" role="dialog" aria-labelledby="tour_modal">
              <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1 class="modal-title" id="myModalLabel">Brief tour of the website</h1>
                  </div>                

                  <div class="modal-body">
                  <!-- starting tabs -->
                    <uib-tabset active="active">
                      <uib-tab index="0" heading="SUMMARY">
                        <div class="tab-content" uib-carousel active="active" interval="50000" no-wrap="noWrapSlides">
                          <div uib-slide index="0">

                            <div class="row">
                                <div class="col-md-6">
                                    <img src="images/tour/summary/one.png" alt="tour_summary">
                                </div>
                                <div class="col-md-6">
                                    <h5>Invest </h5>
                                    <p> Enter the desired amount to invest.</p>
                                    <h5>Add Goal </h5>
                                    <p>Goal setting is pretty simple. A goal is something that you are willing to work for.</p>
                                </div>                      
                            </div>
                          </div>
                          <div uib-slide index="1">

                            <div class="row">
                                <div class="col-md-6">
                                    <img src="images/tour/summary/two.png" alt="tour_summary">
                                </div>
                                <div class="col-md-6">
                                <h5>Total Balance for all goals</h5>
                                    <p>A consolidated view of your overall investments and earnings. </p>
                                </div>      

                            </div>
                          </div>
                          <div uib-slide index="2">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="images/tour/summary/three.png" alt="tour_summary">
                                </div>
                                <div class="col-md-6">
                                <h5>Goal</h5>
                                    <p>Your goal account summary. </p>
                                </div>      

                            </div>
                          </div>
                          <div uib-slide index="3">
                            <div class="row">
                              <div class="col-md-6">
                                <img src="images/tour/summary/four.png" alt="tour_summary">
                              </div>
                              <div class="col-md-6">
                              <h5>Recent Transactions</h5>
                                <p>Track your recent transactions. </p>
                              </div>    

                            </div>
                          </div>
                        </div>
                      </uib-tab>
                      <uib-tab index="1" heading="INVEST">
                        <div class="tab-content" uib-carousel active="active" interval="1000" no-wrap="noWrapSlides">
                          <div uib-slide index="0">
                            <div class="row">
                              <div class="col-md-6">
                                  <img src="images/tour/invest/one.png" alt="tour_summary">
                              </div>
                              <div class="col-md-6">
                              <h5>Execute Portfolio</h5>
                                  <p>Execute the recommended plan that best meets your needs and tolerance for risk. </p>
                              </div>                      

                          </div>
                          </div>
                          <div uib-slide index="1">
                             <div class="row">
                                <div class="col-md-6">
                                    <img src="images/tour/invest/two.png" alt="tour_summary">
                                </div>
                                <div class="col-md-6">
                                <h5>Change Portfolio</h5>
                                    <p>If you wish to modify the recommended portfolio you can use this option. Our advisors are available to help you choose wisely.</p>
                                </div>      

                            </div>
                          </div>
                          <div uib-slide index="2">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="images/tour/invest/three.png" alt="tour_summary">
                                </div>
                                <div class="col-md-6">
                                <h5>Buy/Sell</h5>
                                    <p>You can transact and manage individual funds/assets from here. </p>
                                </div>      

                            </div>
                          </div>
                          <div uib-slide index="3">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="images/tour/invest/four.png" alt="tour_summary">
                                </div>
                                <div class="col-md-6">
                                <h5>Mutual Funds Listing</h5>
                                    <p>List of Mutual funds under your portfolio. You can click on each of the them to view a brief description.</p>
                                </div>      

                            </div>
                          </div>
                        </div>
                      </uib-tab>
                      <uib-tab index="2" heading="PERFORMANCE">
                        <div class="tab-content" uib-carousel active="active" interval="3000" no-wrap="noWrapSlides">
                          <div uib-slide index="0">
                            <div class="row">
                              <div class="col-md-6">
                                <img src="images/tour/performance/tour1.png" alt="tour_summary">
                              </div>
                              <div class="col-md-6">
                              <h5>Performance Statistics</h5>
                                <p>Check your performance over Balance snapshot,Balance Overtime,Balance and Holding.</p>
                              </div>              

                            </div>
                          </div>
                          <div uib-slide index="1">
                             <div class="row">
                                <div class="col-md-6">
                                  <img src="images/tour/performance/tour2.png" alt="tour_summary">
                                </div>
                                <div class="col-md-6">
                                <h5>Performance Statistics</h5>
                                  <p>Compare your performance with our suggested projected savings.</p>
                                  <p>Also, check your recent transactions to track yourself. </p>
                                </div>    

                              </div>
                          </div>
                        </div>
                      </uib-tab>
                      <uib-tab index="3" heading="BENCHMARK">
                        <div class="tab-content" uib-carousel active="active" interval="1000" no-wrap="noWrapSlides">
                          <div uib-slide index="0">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="images/tour/benchmark/one.png" alt="tour_summary">
                                </div>
                                <div class="col-md-6">
                                <h5>Benchmark</h5>
                                    <p>we provide you a set of priorities based on your expectations using finotrust data driven analytics. </p>
                                </div>                      

                            </div>  
                          </div>
                        </div>
                      </uib-tab>
                      <uib-tab index="4" heading="FUNDS">
                        <div class="tab-content" uib-carousel active="active" interval="1000" no-wrap="noWrapSlides">
                          <div uib-slide index="0">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="images/tour/funds/one.png" alt="tour_summary">
                                </div>
                                <div class="col-md-6">
                                <h5>Mutual Fund Types</h5>
                                    <p>You can glide through the tabs for different mutual funds each having their own level of risks and returns.</p>
                                </div>                      
                            </div>
                          </div>
                          <div uib-slide index="1">
                              <div class="row">
                                  <div class="col-md-6">
                                      <img src="images/tour/funds/three.png" alt="tour_summary">
                                  </div>
                                  <div class="col-md-6">
                                  <h5>SIP & One Time</h5>
                                      <p>Systematic Investment Planning - SIP is a method of investing a fixed sum, regularly, in a mutual fund scheme allowing you to buy units on a given date each month.</p>
                                      <p> One Time - You can invest lump sum into the mutual fund. </p>
                                  </div>  

                              </div>
                          </div>
                          <div uib-slide index="2">
                             <div class="row">
                                  <div class="col-md-6">
                                      <img src="images/tour/funds/two.png" alt="tour_summary">
                                  </div>
                                  <div class="col-md-6">
                                  <h5>Search funds to invest</h5>
                                      <p>This sections helps you to search different scheme types to invest in.</p>
                                  </div>      

                              </div>
                          </div>
                        </div>
                      </uib-tab>
                    </uib-tabset>
                   <!-- Nav tabs -->
                </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
    </div>
        <!-- Ending intro pop up -->
	</div>	
</div>