<div class="home">
	<header> 
			    <!-- Navigation -->
	    <nav class="navbar navbar-default navbar-fixed-top"  >
	        <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header page-scroll">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="http://finotrust.com"><img src="./images/logo_img.jpg " ></a>
	            </div>

	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
	                    <li class="hidden"><a href="#page-top"></a></li>
						<li class="page-scroll"><a href="#/whyFino">Why Fino</a></li>
						<li class="page-scroll"><a href="#/whatWeDo" >What We Do</a></li>
						<li class="page-scroll"><a href="#/aboutUs">About Us</a></li>
						<li class="page-scroll"><a href="#/pricing" >Pricing</a></li>
						<li class="page-scroll"><a href="#/FAQs" class="active-now">FAQs</a></li>
						<li class="page-scroll"><a class="cd-signin" href="#">Sign in</a></li>
						<li class="page-scroll" id="sign-up" ><a href="#/getStarted"> Sign Up </a></li> 		
				</ul>
	            </div>
	        </div>
	    </nav>
	</header>
	<div class="intro-text get-started ">
		<div class="main-search-wrapper text-left">
			<div class="inner animated">
				 <span class="name"><h5 style="color:#fff;">START YOUR INVESTMENT PLAN</h5></span>	
				<form class="row gap-20" ng-controller="datePickCrl">

					<div class="col-xs-12 col-sm-12 form-lg  form-group">

						<div class="typeahead-container form-group form-icon-right">
						
							<label class="destination-search-3"></label>
							
							<div class="typeahead-field">
								
							</div>
						</div>

					</div>
					<div class="col-xs-12 col-sm-12 row gap-20 form-group" style="margin-bottom: 7px;">
						<div class="col-xss-12 col-xs-12 col-sm-5">		
							<p for="dpd1">Amount you want to invest?</p>
						</div>
						<div class="col-xss-12 col-xs-12 col-sm-6">
							<div class="row gap-20">
								<div class="col-xss-12 col-xs-6 col-sm-6">
									<div class="form-group form-icon-right"> 
										<input id="destination-search-3" name="Amount" autocomplete="off" class="form-control" placeholder="Rs: 25,000" type="number">
									</div>
								</div>
							
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 row gap-20 form-group" style="margin-bottom: 7px;">
						<div class="col-xss-12 col-xs-12 col-sm-5">		
							<p for="dpd1">Time period</p>
						</div>
						<div class="col-xss-12 col-xs-12 col-sm-6">
							<div class="row gap-20">
								<div class="col-xss-12 col-xs-6 col-sm-6">
									<div class="form-group form-icon-right"> 
										<input name="dpd1" class="form-control" id="dpd1" placeholder="From" readonly="" type="text">
										<i class="fa fa-calendar"></i>
									</div>
								</div>
								
								<div class="col-xss-12 col-xs-6 col-sm-6">
									<div class="form-group form-icon-right"> 
										<input name="dpd2" class="form-control" id="dpd2" placeholder="To" readonly="" type="text">
										<i class="fa fa-calendar"></i>
									</div>
								</div>
							
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 row gap-20">
						<div class="col-xss-12 col-xs-12 col-sm-5">		
							<p for="dpd1">Investment type</p>
						</div>
						<div class="col-xss-12 col-xs-12 col-sm-6">
							<div class="row gap-20">
								<div class="col-xss-12 col-xs-6 col-sm-6">
								    <div class="form-group checkbox">
								      <label><input type="checkbox" value="" name="taxSaving">Tax Saving</label>
								    </div>
							    </div>
							    <div class="col-xss-12 col-xs-12 col-sm-6">
								    <div class="form-group checkbox">
								      <label><input type="checkbox" value="" name="regular">Regular</label>
								    </div>
							    </div>
						    </div>
						</div>
					</div>
						
					<div class="col-xs-12">
					
						<div class="row">
						
							<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center">
								<button class="btn btn-lg btn-outline btn-lg btn-icon" ng-click="test()">Search <span class="icon"><i class="fa fa-search"></i></span></button>
							</div>
						
						</div>
						
					</div>
					
				</form>

			</div>
		</div>
	</div>
</div>

