<div class="what-we-do">
	   	<header> 
		    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top"  >
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://finotrust.com"><img src="./images/logo_img.jpg " ></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
                    <li class="hidden"><a href="#page-top"></a></li>
                    <li class="page-scroll"><a href="#/whyFino">Why Fino</a></li>
                    <li class="page-scroll"><a href="#/whatWeDo"  class="active-now">What We Do</a></li>
                    <li class="page-scroll"><a href="#/aboutUs">About Us</a></li>
                    <li class="page-scroll"><a href="#/pricing" >Pricing</a></li>
                    <li class="page-scroll"><a href="#/FAQs">FAQs</a></li>
					<li class="page-scroll"><a class="cd-signin" href="#">Sign in</a></li>
					<li class="page-scroll" id="sign-up" ><a href="#/getStarted"> Sign Up </a></li>		
			</ul>
            </div>
        </div>
    </nav>
</header>
    <div id="we_do" class="logo">
		<div  class="text-center">
		<h3 class="text-center">manage all your financial goals and investments at one place
		</h3>

		</div>
    </div>
	<div id="beat" >
		<h3><b  >"beat the inflation"</b></h3>
		<p >
		Usually investing in FD's will let you lose money as post tax returns are lower than inflation. However, with our suggested portfolio you will be able to beat the inflation and grow your money either conservatively or aggressively
		</p>
		<div >

		<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center" >
		<a href="#" class="btn btn-lg btn-outline " id="get_start" >INVEST NOW</a></div>
		</div>
		</div>
 </div>
 <div class="container"  id="we_do1">
	<div class="row" >
		<div class="col-md-8 " >
		<h3><b  >"robust technology"</b></h3>
		<p >We simplify the complicated financial service for you using combination of financial knowledge and analytics.</p>
		</div>
		<div class="col-md-4" >
		<img src="images/icons/robust.png"> </img>
		</div>
	</div>
 </div>
 <div class="container" id="we_do2">
 <div class="row" >
	<div class="col-md-4" >
		<img src="images/icons/strategy.png"> </img>
	</div>
	<div class="col-md-8 ">
		<h3><b  >"strategic investment"</b></h3>
		<p >Don't just tactically invest money to save on taxes, spend 5 mins. with us and become strategic about it.</p>
	</div>

 </div>
 </div>
		
<footer class="text-center">
        <div class="footer-above">
			<div class="container" >
			<div class="row" >
				<div class="col-md-4 col-xs-3" >
					<a href="get-started.html"><button class="btn btn-lg btn-outline footer-button" >INVEST NOW</button></a>
				</div>
				<div class="col-md-8 col-xs-9" >
					<div class="row" >
						<div class="col-md-6 support col-xs-6" >
							<i class="fa fa-mobile"></i><span>+91-80-41245883</span>
						</div>
						<div class="col-md-6 support col-xs-6 " >
							<i class="fa fa-envelope-o"></i><span >support@finotrust.com</span>
						</div>
					</div>
				</div>
			</div>
			</div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-3 col-xs-6">
						<ul>
						<a href="http://www.finotrust.com"><li>Home</li></a>
						<a href="Why-Fino.html"><li>Why Fino</li></a>
						<a href="What-We-Do.html"><li>What We Do</li></a>
						<a href="About-Us.html"><li>About Us</li></a>
						<a href="Pricing.html"><li>Pricing</li></a>
						<a href="FAQs.html"><li>FAQs</li></a>
						</ul>
                    </div>
                    <div class="footer-col col-md-3 col-xs-6">
						<ul>
						<a href="tlh.html"><li>Tax Loss Harvesting</li></a>
						<a href="career.html"><li>Careers</li></a>
						<a href="#"><li>Blog</li></a>
						<a href="About-Us.html"><li>Our Mission</li></a>
						<a href="Policy.html"><li>Privacy Policy</li></a>
						<a href="Policy.html"><li>Terms & Conditions</li></a>

						</ul>
                    </div>
                    <div class="footer-col col-md-6 big col-xs-12">
                        <div class="col-md-8 col-xs-6"><h3 >Follow Us on</h3></div>
                        <div class="col-md-8 col-xs-6"><ul class="list-inline">
                            <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a></li>
                            <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a></li>
                            <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a></li>
                            <li><a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a></li>
                        </ul></div>
                    </div>
                    
                </div>
            </div>
            <div class="container copyright">
                <p>DISCLAIMER (ARN- 107100): <br>Mutual Funds and securities investments are subject to market risks, read all scheme-related documents carefully. There is no assurance or guarantee that the objectives of the scheme will be achieved. As with any investment in securities, the NAV of the units issued under the Scheme can go up or down depending on the factors and forces affecting the capital markets. Past performance is not indicative of the future performance of the Scheme.
                </p>
                <h4 >Copyright  FinoTrue Services Pvt.Ltd &copy; 2015</h4>
            </div>
        </div>
    </footer>

</div>